body {
  margin: 0;
  --color-top: hsl(36, 80%, 80%);
  --color-side-shadow-top: hsl(36, 80%, 70%);
  --color-side-shadow-bottom: hsl(36, 100%, 60%);
  --color-side: hsl(36, 60%, 70%);
  --color-strawberry: hsl(10, 100%, 55%);
  --color-strawberry-shadow: hsl(10, 100%, 69%);
}

.wrap {
  height: 100vh;
  width: 100vw;
  background: hsl(10, 80%, 70%);
}

.cake {
  height: 30vw;
  width: 30vw;
  position: absolute;
  top: 20vw;
  left: 20vw;
  /* background-color: #ccc; */
  /* border: 1px solid #ccc; */
  --height: 30vw;
  --width: 30vw;
}

.top {
  position: absolute;
  border-top: calc(var(--height) / 4) solid transparent;
  border-bottom: calc(var(--height) / 4) solid transparent;
  border-right: calc(var(--width)) solid var(--color-top);
  transform: rotateX(35deg) rotateZ(-14deg) translateX(-1vw) scale(.97);
}

.side {
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: var(--color-side);
  top: 35%;
  box-shadow: inset 0 2.5vw var(--color-side-shadow-top), 0 2.6vw var(--color-side-shadow-bottom);
  border-radius: 0 0 5px 5px;
}

.strawberry {
  position: absolute;
  height: 8vw;
  width: 8vw;
  border-radius: 10% 50% 50% 50%;
  background-color: var(--color-strawberry);
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%) rotateZ(30deg);
  z-index: 1;
}

.strawberry::after {
  content: '';
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  position: absolute;
  box-shadow: /* top */
  1vw 1vw #000, 3vw 1vw #000, 5vw 1vw #000, 7vw 1vw #000, 1vw 3vw #000, 3vw 3vw #000, 5vw 3vw #000, 7vw 3vw #000, 1vw 5vw #000, 3vw 5vw #000, 5vw 5vw #000, 7vw 5vw #000, 1vw 7vw #000, 3vw 7vw #000, 5vw 7vw #000, 7vw 7vw #000;
}

.firstStrawberry {
  position: absolute;
  height: 8vw;
  width: 14vw;
  left: 14vw;
  top: 2vw;
}

.scondStrawberry{
  left: 8vw;
  height: 8vw;
  top: 0vw;
  width: 14vw;
  position: absolute;
  transform: scale(.7);
}
.strawberryShadow {
  position: absolute;
  bottom: -10%;
  z-index: 0;
  height: 30%;
  width: 100%;
  border-radius: 100%;
  background: var(--color-strawberry-shadow);
}

.thridStrawberry{
  left: 5vw;
  height: 8vw;
  top: 19vw;
  width: 20vw;
  position: absolute;
}

.shadow{
  background-color: var(--color-strawberry-shadow);
  top: 10vw;
  height: 53%;
  width: 20%;
  position: absolute;
  left: 15vw;
}
.thridStrawberry .strawberry{
  transform: translateX(-50%) rotateZ(60deg);
}